{% extends 'app/base.html' %}

{% block content %}
    <h1>About Me</h1>
    <p>Hello! I'm Gerald, a passionate in riding my motorcycles. I enjoy doing the throttle theraphy.</p>

    <h2>My Background</h2>
    <p>I have a background in being a courier, with experience in i also drive a van. My journey in driving began when i was a kid because in the father side we are all have a talent in driving.</p>

    <h2>My Interests</h2>
    <p>In my free time, I love to look at my motorcycle and fix it. Whether just to look at it, or fix it, or just spending time with friends and family, I always strive to make the most of my time.</p>


{% endblock content %}