{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<header></header>
<div class="header">
    <h1 class="welcome-message">Welcome!</h1>
</div>

<!-- Digital Clock Display -->
<div class="clock">Current Time: --:--:--</div>

<!-- Button to Toggle Content -->
<button id="toggleContent">Show Content</button>
<div class="additional-content" style="display: none;">
    <p>This is some additional content that can be toggled.</p>
    <p>Feel free to add more information here.</p>
</div>

<img alt="wel" id="image" src="{% static 'images/djangoimage.jpg' %}">

<input id="pakboy" type="hidden" value="{% static 'images/pakboy.jfif' %}">
<input id="imagePath" type="hidden" value="{% static 'images/djangoimage.jpg' %}">
<script src="{% static 'js/geyesh.js' %}"></script>
{% endblock content %}





